@import "tailwindcss";
@import "starting-point-ui";

@source "../content/docs";

:root {
  --navbar-height: 4rem;
  --sidebar-width: 14rem;
  --toc-width: 14rem;
}

.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

/* Table of Contents */
.toc {
  @apply overflow-hidden;
}

.toc-list {
  @apply flex flex-col gap-2 text-muted-foreground border-l border-dashed;
}

.toc-list-item {
  @apply leading-normal min-w-0;
}

.toc-link {
  @apply -ml-0.5 pl-3 border-l-2 border-transparent hover:text-foreground transition-colors block truncate text-[0.8rem];
}

.is-active-link {
  @apply text-foreground font-medium border-foreground;
}

/* Syntax highlighting - shiki dual theme */
code[data-theme],
code[data-theme] span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}

.dark .shiki span,
.dark code[data-theme] span {
  color: var(--shiki-dark) !important;
  background-color: transparent;
}

pre {
  @apply text-sm/6;
}
